* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@600&display=swap');

body {
    background-color: rgb(0, 0, 0);

}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2600px, 100vw);
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.69;
}

.main nav {
    display: flex;
    max-width: 60vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100px;
}

nav span img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

.main nav div button {
    position: relative;
    z-index: 10;

}

.hero {
    font-family: "Martel Sans", sans-serif;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 180px auto 100px auto;
    position: relative;
}

.hero>:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 15px;
}

.hero>:nth-child(3) {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 15px;
}

.hero div {
    display: flex;

}

.hero div input {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    width: 400px;
    margin: 10px 10px 10px 10px;
    height: 30px;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.hero div button {
    height: 53px;
    padding: 5px;
    width: 150px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heroism {
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroism button {
    color: white;
    font-size: 17px;
}

.btn1 {
    background-color: rgba(139, 132, 132, 0.5);
    border: 1px solid white;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn1 img {
    margin: 5px 1px 1px 1px;
}

.btn2 {
    background-color: red;
    border: none;
    color: white;
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.main nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separation {
    background-color: rgb(64, 63, 63);
    width: 100%;
    height: 7px;

}

.first {
    display: flex;
    max-width: 70%;
    justify-content: center;
    margin: auto;
    color: white;
    align-items: center;
}

.contentarea {
    position: relative;

    width: 100%;
    max-width: 555px;
    margin: auto;
}

.contentarea img {

    width: 100%;    
    height: auto;   
    position: relative;
    z-index: 10;
}

.contentarea video {
    position: absolute;
    width: 88%;     
    height: auto;
    top: 14%;       
    right: 4%;      
}

.ram {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 34px 10px;
}

.rom {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0px;
}

.faq{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    max-width: 65%;
    margin: 55px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
.faq .cont{
    display: flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}
.faq :hover{
    background-color: #414141;
}
#xyz{
    position: absoulte;
    margin-top: 10px;
    padding-top: 10px;
    top: 0px;
}
#abc {
        padding: 0px 20px;    
        margin-top: 20px;
    }

#ghu{
    margin-top: -55px;
}
footer{
    max-width: 60vw;
    margin: 30px auto;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    font-family: "Martel Sans", sans-serif;
}
.questions{
    color: rgba(176, 172, 172, 0.7);
    margin: 10px 0px 30px 0px;
    font-size: 14px;
}
.footercolumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heroism button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroism button svg{
    margin-left: 10px;
}


footer a{
    color: rgba(176, 172, 172, 0.7);
    font-size: 14px;
    font-weight: 100;
}
.NetflixIndia{
    margin: 40px 0px;
    color: rgba(176, 172, 172, 0.9);
    font-family: "Martel Sans", sans-serif;
    font-size: 12px;
}
.ss{
    margin: 5px 0px;
}
.ss a{
    color: rgb(41, 41, 156);
    font-size: 11px;
}

@media screen and (max-width: 900px) {

    #abc {
        height: auto;          
        padding: 40px 20px;    
        justify-content: flex-start; 
        margin-top: 20px;
    }
    .main nav {
        max-width: 90vw; 
        padding: 0 10px;
    }

    .hero {
        width: 90%; 
        margin: 100px auto 40px auto; 
    }
    
    .hero > :nth-child(1) {
        font-size: 32px; 
    }

    .heroism {
        flex-direction: column; 
        gap: 15px;
        width: 100%;
    }
    
    .hero div input {
        width: 100%; 
        margin: 0;   
        box-sizing: border-box; 
    }

    .first {
        flex-wrap: wrap;

    }
    .footer {
        grid-template-columns: 1fr 1fr; 
        max-width: 90vw;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr; 
    }
    
    nav span img {
        width: 90px; 
    }
}



@media screen and (max-height: 800px) {
    
    .main {
        height: auto;
        min-height: 100vh; 
        padding-bottom: 40px; 
    }
    
    .hero {
        margin-top: 100px; 
        margin-bottom: 40px;
        height: auto; 
    }
}


